div {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
button {
  font-size: 40px !important;
  visibility: hidden;
}

.card {
  background-color: transparent;
  border: none;
}

.location-card {
  visibility: hidden;
}
